<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
  	<meta name="keywords" content="'location maison','location appartement','achat maison','achat appartement','immobilier','annonce immobiliere','agence immobiliere lubersac','agence immobiliere a lubersac','agence immobiliere de lubersac','location maison lubersac','location de maison a lubersac','location maison sur lubersac','location correze','agence immobiliere correze','agence immobiliere limousin','achat maison','achat maison sur lubersac','achat maison en correze'" />
  	<meta name="description" content="Agence immobilière Immo Cour &amp; Jardin, à lubersac, corrèze, limousin.
Location d'appartement, location de maison et de tout autres biens immobilier.
Mandat de recherche et dépôt de demande de location ou vente." />
  	<title>Immo Cour et Jardin</title>
    <meta name="author" content="Axoloth">

    <title>Axoloth - Admin</title>

	 {% block stylesheets %}
	    <!-- Bootstrap core CSS -->
	    <link href="{{ asset('bundles/axolothimmo/css/immo.css') }}" rel="stylesheet">   
	   <link href="{{ asset('bundles/axolothimmo/css/slippry.css') }}" rel="stylesheet">   
	    <!--[if IE 6]><link rel="stylesheet" href="{{ asset('bundles/axolothimmo/css/template.ie6.css') }}" type="text/css" media="screen" /><![endif]-->
  		<!--[if IE 7]><link rel="stylesheet" href="{{ asset('bundles/axolothimmo/css/template.ie7.css') }}" type="text/css" media="screen" /><![endif]-->
  
  
	{% endblock stylesheets %} 

	{% block javascript %} 
	    <!-- JavaScript -->
	    <script src="{{ asset('bundles/axolothbase/js/jquery-1.10.2.js') }}"></script>
	    <script src="{{ asset('bundles/axolothimmo/js/script.js') }}"></script>
	    <script src="{{ asset('bundles/axolothimmo/js/jcaroussel.js') }}"></script>
	  	 <script src="{{ asset('bundles/axolothimmo/js/slippry.min.js') }}"></script>
	{% endblock javascript %}  

  </head>

  <body>

		<div id="art-page-background-simple-gradient">
			<div id="art-page-background-gradient"></div>
		</div>
		
		<div id="art-main">
			<div class="art-Sheet">
				<div class="panorama" >
				
					<div class="art-nostyle">
						<div id="slidewrap">
							<section class="panorama_wrapper">
								<article class="demo_block">
								<ul id="panorama_content">
								  <li title="This is caption 1 <a href='#link'>Even with links!</a>">
								    <img src="{{ asset('bundles/axolothimmo/images/panorama/achat_maison_correze.jpg') }}"/>
								  </li>
								  <li title="This is caption 2">
								    <img src="{{ asset('bundles/axolothimmo/images/panorama/agence_immobiliere_lubersac.jpg') }}"/>
								  </li>
								  <li title="And this is some very long caption for slide 3. Yes, really long.">
								    <img src="{{ asset('bundles/axolothimmo/images/panorama/immo_cour_et_jardin.jpg') }}"/>
								  </li>
								  <li title="And this is some very long caption for slide 4.">
								   <img src="{{ asset('bundles/axolothimmo/images/panorama/immobilier_lubersac.jpg') }}"/>
								  </li>
								  
								  <li title="And this is some very long caption for slide 4.">
								   <img src="{{ asset('bundles/axolothimmo/images/panorama/location_correze.jpg') }}"/>
								  </li>
								  <li title="And this is some very long caption for slide 4.">
								   <img src="{{ asset('bundles/axolothimmo/images/panorama/lubersac_immobilier.jpg') }}"/>
								  </li>
								  <li title="And this is some very long caption for slide 4.">
								   <img src="{{ asset('bundles/axolothimmo/images/panorama/vente_appartement_lubersac.jpg') }}"/>
								  </li>
								</ul>

							</article></section>
						</div>
					</div>
				</div>
			
				<div class="art-Header-feuilles-png"></div>
			
				<div class="bord-panorama-png"></div>
				
				<div class="art-Sheet-tl"></div>
				<div class="art-Sheet-tr"></div>
				<div class="art-Sheet-bl"></div>
				<div class="art-Sheet-br"></div>
				<div class="art-Sheet-tc"></div>
				<div class="art-Sheet-bc"></div>
				<div class="art-Sheet-cl"></div>
				<div class="art-Sheet-cr"></div>
				<div class="art-Sheet-cc"></div>
				
				<div class="art-Sheet-body">
					
					<div class="art-Header">
						<div class="art-Header-png"></div>
						<div class="art-Header-jpeg"></div>
					
						<div class="texte-accroche">
							<div class="art-nostyle">
								<div style='margin:10px'>
									<b>
										<p><span style="font-family: arial,helvetica,sans-serif;"><span style="font-size: large;"><strong><br /><a href="http://www.immo-cour-et-jardin.com" title="Agence immobilière de lubersac, en corrèze, limousin" style="color: white;">Vos projets...<br />sont aussi les n&ocirc;tres!</a></strong></span></span></p>
									</b>
								</div>
							</div>
						</div>
					</div>
			
					<div class="art-contentLayout">
						
						<div class="art-sidebar1">
							
							<div class="art-Block">
								<div class="art-Block-body">
									
									<div class="art-BlockHeader">
										<div class="l"></div>
										<div class="r"></div>
										<div class="art-header-tag-icon">
											<div class="t">
												Menu principal
											</div>
										</div>
									</div>
									
									<div class="art-BlockContent">
										<div class="art-BlockContent-tl"></div>
										<div class="art-BlockContent-tr"></div>
										<div class="art-BlockContent-bl"></div>
										<div class="art-BlockContent-br"></div>
										<div class="art-BlockContent-tc"></div>
										<div class="art-BlockContent-bc"></div>
										<div class="art-BlockContent-cl"></div>
										<div class="art-BlockContent-cr"></div>
										<div class="art-BlockContent-cc"></div>
										
										<div class="art-BlockContent-body">
											<ul class="menu">
												<li id="current" class="active item1"><a href="{{ path('axoloth_immo_home') }}"><span>Notre Agence</span></a></li>
												<li class="item6"><a href="{{ path('axoloth_immo_agent-immobilier') }}"><span>Notre m&eacute;tier</span></a></li>
												<li class="item21"><a href="{{ path('axoloth_immo_honoraires') }}"><span>Honoraires</span></a></li>
												<li class="item9"><a href="/mandatrecherche"><span>Laisser vos crit&egrave;res</span></a></li>
												<li class="item26"><a href="/contactez-nous"><span>Contactez-nous</span></a></li>
												<li class="item27"><a href="/estimationlocationvente"><span>Estimation</span></a></li>
											</ul>
										</div>
									</div>
									
			
								</div>
							</div>
			
							<div class="art-Block">
								<div class="art-Block-body">
			
									<div class="art-BlockHeader">
										<div class="l"></div>
										<div class="r"></div>
										<div class="art-header-tag-icon">
											<div class="t">
												Nos annonces
											</div>
										</div>
									</div>
			
									<div class="art-BlockContent">
										<div class="art-BlockContent-tl"></div>
										<div class="art-BlockContent-tr"></div>
										<div class="art-BlockContent-bl"></div>
										<div class="art-BlockContent-br"></div>
										<div class="art-BlockContent-tc"></div>
										<div class="art-BlockContent-bc"></div>
										<div class="art-BlockContent-cl"></div>
										<div class="art-BlockContent-cr"></div>
										<div class="art-BlockContent-cc"></div>
										
										<div class="art-BlockContent-body">
											<ul class="menu">
												<li class="item29"><a href="http://www.immo-limousin.com/vente"><span>Vente</span></a></li>
												<li class="item19"><a href="/location"><span>Location</span></a></li>
												<li class="item28"><a href="/mandatencours"><span>Mandats de recherche</span></a></li>
											</ul>
										</div>
									</div>
			
								</div>
							</div>
			
						</div>
						
						<div class="art-content">
			
							{% block body %}
							
							{% endblock body %}
							
			
						</div>
		
						<div class="art-sidebar2">
							<div class="art-Block">
								<div class="art-Block-body">
						
									<div class="art-BlockHeader">
										<div class="l"></div>
										<div class="r"></div>
										
										<div class="art-header-tag-icon">
											<div class="t">Coups de coeur</div>
										</div>
									</div>
				
									<div class="art-BlockContent">
										<div class="art-BlockContent-tl"></div>
										<div class="art-BlockContent-tr"></div>
										<div class="art-BlockContent-bl"></div>
										<div class="art-BlockContent-br"></div>
										<div class="art-BlockContent-tc"></div>
										<div class="art-BlockContent-bc"></div>
										<div class="art-BlockContent-cl"></div>
										<div class="art-BlockContent-cr"></div>
										<div class="art-BlockContent-cc"></div>
										
										<div class="art-BlockContent-body">
											<div id="monCarousel_wrap">
												<ul id="monCarousel_carousel" class="jcarousel-skin-ie7" style="list-style-type: none ;">
												</ul>
											</div>
										</div>
									</div>
				
				
								</div>
							</div>
					
						</div>
		
					</div>
	
					<div class="cleared"></div>
	
					<div class="art-Footer">
						<div class="art-Footer-inner">
							<div class="art-Footer-text">
								<a href="/component/content/5">Mentions l&eacute;gales</a>
								&nbsp;&nbsp;
								<p>Copyright &copy; 2010 - <a href="http://www.axoloth.com" target="_blank">Axoloth</a>, tous droits r&eacute;serv&eacute;s- <a href="/component/xmap/?sitemap=1">Plan du site</a></p>
							</div>
						</div>
					
						<div class="art-Footer-background"></div>
					</div>
		
				</div>

			</div>

			<div class="cleared"></div>
		
		</div>

		<script type="text/javascript">
		
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1585601-2']);
			_gaq.push(['_trackPageview']);
			
			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();


		
			jQuery('#panorama_content').slippry({
				  // general elements & wrapper
				  slippryWrapper: '<div class="sy-box pictures-slider" />', // wrapper to wrap everything, including pager

				  // options
				  adaptiveHeight: false, // height of the sliders adapts to current slide
				  captions: false, // Position: overlay, below, custom, false

				  // pager
				  pager: false,
				  
				  // controls
				  controls: false,
				  autoHover: false,

				  // transitions
				  transition: 'kenburns', // fade, horizontal, kenburns, false
				  kenZoom: 240,
				  speed: 3000 // time the transition takes (ms)
				});
		
		
		</script>
		
	</body> 
</html>